version: "3.8"

services: 
  vsnginx:
    restart: always
    image: vsnginx
    container_name: vsnginx
    network_mode: host
    build:
      dockerfile: ${PROJECT_ROOT}/setup/setup/nginx/Dockerfile
    volumes:
      - ${PROJECT_ROOT}/setup/setup/nginx/nginx-lms.conf:/etc/nginx/conf.d/default.conf
